body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

h2 {
    text-align: center;
    color: #444;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th {
    background: #3498db;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
